<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partial/head %>
    <style>
        .no-border {
            border: 0;
            box-shadow: none;
            background-color: white !important;
        }
    </style>
</head>

<body>
    <!-- Main navbar -->
    <div class="navbar navbar-expand-md navbar-dark">
        <div class="navbar-brand">
            <a href="index.html" class="d-inline-block">
                <img src="/global_assets/images/logo_light.png" alt="">
            </a>
        </div>

        <div class="d-md-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-tree5"></i>
            </button>
            <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
                <i class="icon-paragraph-justify3"></i>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar-mobile">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                        <i class="icon-paragraph-justify3"></i>
                    </a>
                </li>
            </ul>

            <span class="navbar-text ml-md-3 mr-md-auto">
                <span class="badge bg-success">Online</span>
            </span>

            <ul class="navbar-nav">
                <li class="nav-item dropdown dropdown-user">
                    <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                        <img src="/global_assets/images/placeholders/placeholder.jpg" class="rounded-circle" alt="">
                        <span><%= name %></span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <form action="/authentication/logout" method="POST">
                            <button class="dropdown-item"><i class="icon-switch2"></i> Logout</button>
                        </form>
                        <!-- <a href="/login" class="dropdown-item"><i class="icon-switch2"></i> Logout</a> -->
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->

    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">

            <!-- Sidebar mobile toggler -->
            <div class="sidebar-mobile-toggler text-center">
                <a href="#" class="sidebar-mobile-main-toggle">
                    <i class="icon-arrow-left8"></i>
                </a>
                Navigation
                <a href="#" class="sidebar-mobile-expand">
                    <i class="icon-screen-full"></i>
                    <i class="icon-screen-normal"></i>
                </a>
            </div>
            <!-- /sidebar mobile toggler -->

            <!-- sidebar -->
            <% include ../partial/sidebar %>
            <!-- end sidebar -->

        </div>
        <!-- /main sidebar -->

        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Page header -->
            <div class="page-header page-header-light">
                <div class="page-header-content header-elements-md-inline">
                    <div class="page-title d-flex">
                        <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Home</span> -
                            Detail Pengajuan Barang</h4>
                        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                    </div>
                </div>

                <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                    <div class="d-flex">
                        <div class="breadcrumb">
                            <a href="index.html" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                            <a href="/submission" class="breadcrumb-item"> Daftar Pengajuan Barang</a>
                            <span class="breadcrumb-item active">Detail Pengajuan Barang</span>
                        </div>

                        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                    </div>
                </div>
            </div>
            <!-- /page header -->

            <!-- Content area -->
            <div class="content">
                <div class="card">
                    <div class="card-header header-elements-inline">
                        <h5 class="card-title">Detail Pengajuan Barang</h5>
                        <div class="header-elements">
                            <div class="list-icons">
                                <a class="list-icons-item" data-action="collapse"></a>
                                <a class="list-icons-item" data-action="remove"></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <dl class="row mb-0">
                            <dt class="col-sm-2">Nama Pengaju</dt>
                            <dd class="col-sm-10"><%= submission.name %></dd>

                            <dt class="col-sm-2">Alamat</dt>
                            <dd class="col-sm-10"><%= submission.address %></dd>

                            <dt class="col-sm-2">Usia</dt>
                            <dd class="col-sm-10"><%= submission.age %></dd>

                            <dt class="col-sm-2">Perusahaan</dt>
                            <dd class="col-sm-10"><%= submission.company %></dd>

                            <dt class="col-sm-2">Jabatan</dt>
                            <dd class="col-sm-10"><%= submission.position %></dd>
                        </dl>

                        <div class="table-responsive">
                            <table class="table table-bordered" id="table-item">
                                <thead>
                                    <tr>
                                        <th>Nama Barang</th>
                                        <th>Jumlah</th>
                                        <th style="width: 20%;">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="static-body">
                                    <% detailsubmissions.forEach(function(detailsubmission) { %>
                                    <tr>
                                        <td><%= detailsubmission.major.name %></td>
                                        <td><%= detailsubmission.quantity %></td>
                                        <td style="white-space: nowrap;">
                                            <form action="/submission/itemOut/<%= detailsubmission.id %>?_method=PUT"
                                                style="display: inline;" method="POST">
                                                <input type="hidden" name="name" value="<%= submission.name %>">
                                                <button type="submit" class="btn btn-sm btn-success">Submit</button>
                                            </form>
                                            <a href="#" class="btn btn-sm btn-danger">Hapus</a>
                                        </td>
                                    </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /content area -->

            <!-- Footer -->
            <% include ../partial/footer %>
            <!-- /footer -->

        </div>
    </div>
    <!-- /page content -->
</body>
<script>
</script>

</html>